# Python
**/__pycache__/
*.pyc

# Python 가상환경
**/.venv/

# MIDI 데이터셋
XMIDI/
XMIDIs/
midi/
dataset/

# model 폴더
models/

#output 폴더
outputs/

# pkl 폴더
pkl/

token/

json/

generated/

checkpoints/
checkpoints_sample/
